#app {
  text-align: center;
}

body
{
  margin: 0;
  min-height: 100vh;
  background-image: url('assets/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  justify-content: center;
  align-items: center;

  font-family: sans-serif;
}

.content
{
  padding: 20px;
  width: 500px;
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3);
  
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

#clock
{
    color: rgba(255, 255, 255, 0.6);
    font-size: 50px;
    font-family: monospace;
    font-weight: bold;
}

#date
{
    color: rgba(255, 255, 255, 0.5);
    font-size: 20px;
    font-family: monospace;
    font-weight: bold;
}

.bookmarks-container
{
    position: relative;
    top: 20px;
}

.content p
{
    color: rgba(255, 255, 255, 0.7);
}

.content a
{
    color: rgba(255, 255, 255, 0.7);
}

hr
{
    height: 80px;
    border: none;
}